.section,
.questions,
.school {
  margin-bottom: 1rem;
  width: 100%;
  padding-inline: var(--general-padding);
  padding-block: 80px;
  text-align: left;

  &__container,
  .questions__containe,
  .article,
  .school__container {
    margin-inline: auto;
    max-width: var(--content-width);
  }

  &__title,
  .questions__title {
    margin-bottom: 1rem;
    font-family: var(--font1);
    font-size: 2rem;
    color: var(--color1);
    font-weight: 900;
    &.big {
      margin-bottom: 2rem;
      text-align: center;
      font-size: clamp(2rem, calc(1.71rem + 1.43vw), 3rem);
    }
  }

  &__description {
    margin-bottom: 2.5rem;
    font-family: var(--font2);
    font-size: 1rem;
    color: var(--color6);
    white-space: pre-wrap;
    line-height: 1.4;
    &.center {
      text-align: center;
    }

    .bold {
      font-weight: 700;
    }
  }

  &--school {
    background-color: var(--color1-20);
    .section__title {
      color: var(--color5);
    }
    .section__description {
      color: var(--color5);
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-inline: var(--content-padding);
  padding-block: 3rem;
  height: 260px;
  font-family: var(--font2);
  color: var(--color3);
  font-weight: 700;
  background-color: var(--color1);

  img {
    max-width: 150px;
  }

  &__social {
    display: flex;
    align-items: center;
    svg {
      width: 30px;
      height: auto;
      cursor: pointer;
      margin-inline: 0.5rem;
      &:hover {
        path {
          opacity: 1;
        }
      }
      path {
        fill: var(--color2);
        transition: var(--fast-transition);
      }
    }
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
  text-align: center;

  h1 {
    font-family: var(--font1);
    color: var(--color2);
    font-size: 3rem;
    margin-bottom: 0.3rem;
  }

  p {
    font-family: var(--font2);
    color: var(--color6);
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
