.section,
.questions,
.school {
  margin-bottom: 1rem;
  width: 100%;
  padding-inline: var(--general-padding);
  padding-block: 80px;
  text-align: left;

  &__container,
  .questions__containe,
  .article,
  .school__container {
    margin-inline: auto;
    max-width: var(--content-width);
  }

  &__title,
  .questions__title {
    margin-bottom: 1rem;
    font-family: var(--font1);
    font-size: 2rem;
    color: var(--color1);
    font-weight: 900;
    &.big {
      margin-bottom: 2rem;
      text-align: center;
      font-size: clamp(2rem, calc(1.71rem + 1.43vw), 3rem);
    }
  }

  &__description {
    margin-bottom: 2.5rem;
    font-family: var(--font2);
    font-size: 1rem;
    color: var(--color6);
    white-space: pre-wrap;
    line-height: 1.4;
    &.center {
      text-align: center;
    }

    .bold {
      font-weight: 700;
    }
  }

  &--school {
    background-color: var(--color1-20);
    .section__title {
      color: var(--color5);
    }
    .section__description {
      color: var(--color5);
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-inline: var(--content-padding);
  padding-block: 3rem;
  height: 260px;
  font-family: var(--font2);
  color: var(--color3);
  font-weight: 700;
  background-color: var(--color1);

  img {
    max-width: 150px;
  }

  &__social {
    display: flex;
    align-items: center;
    svg {
      width: 30px;
      height: auto;
      cursor: pointer;
      margin-inline: 0.5rem;
      &:hover {
        path {
          opacity: 1;
        }
      }
      path {
        fill: var(--color2);
        transition: var(--fast-transition);
      }
    }
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
  text-align: center;

  h1 {
    font-family: var(--font1);
    color: var(--color2);
    font-size: 3rem;
    margin-bottom: 0.3rem;
  }

  p {
    font-family: var(--font2);
    color: var(--color6);
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
  text-align: center;

  .loader__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h2 {
    position: relative;
    padding-right: 13px;
    font-family: var(--font1);
    color: var(--color1);
    font-size: 2.1rem;
    margin-top: 1.5rem;
    &::after {
      content: "...";
      position: absolute;
      animation: loadDots 3s infinite;
    }
    @keyframes loadDots {
      0% {
        content: "";
      }
      33.3% {
        content: ".";
      }
      66.6% {
        content: "..";
      }
      99.9% {
        content: "...";
      }
    }
  }

  .clock-loader {
    --clock-color: var(--color1);
    --clock-width: 4rem;
    --clock-radius: calc(var(--clock-width) / 2);
    --clock-minute-length: calc(var(--clock-width) * 0.4);
    --clock-hour-length: calc(var(--clock-width) * 0.2);
    --clock-thickness: 0.2rem;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--clock-width);
    height: var(--clock-width);
    border: 3px solid var(--clock-color);
    border-radius: 50%;
    transform: scale(1.5);

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: calc(var(--clock-radius) * 0.25);
      width: var(--clock-thickness);
      background: var(--clock-color);
      border-radius: 10px;
      transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
      animation: spin infinite linear;
    }

    &::before {
      height: var(--clock-minute-length);
      animation-duration: 2s;
    }

    &::after {
      top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
      height: var(--clock-hour-length);
      animation-duration: 15s;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
}
