.questions {
  margin-top: 3rem;
  &__title {
    text-align: center;
  }

  &__detail {
    background-color: var(--color1);
    padding: 1.3rem;
    border-bottom: solid 1px #05367c50;
  }
  &__detail:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  &__detail:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font2);
    color: var(--color3);
    list-style: none;
    opacity: 1;
    cursor: pointer;
    &:hover {
      color: var(--color5);
      path {
        fill: var(--color5);
      }
    }
    svg {
      width: 10px;
      height: auto;
      path {
        fill: var(--color3);
      }
    }
  }

  &__info {
    margin-top: 1rem;
    font-family: var(--font2);
    color: var(--color3);
    color: var(--color5);
    font-size: 0.9rem;
    line-height: 1.3;
  }
}
