.school {
  &__guides {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
}

.guide {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  max-width: 270px;
  height: 450px;

  padding: 10px;
  background-color: var(--color1);
  border-radius: var(--border);
  cursor: pointer;
  &__img {
    max-width: 100%x;
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 0.3rem;
    font-family: var(--font1);
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color3);
  }
  &__description {
    font-family: var(--font2);
    color: var(--color3);
    line-height: 1.25;
  }
}
.btn__school {
  margin: 2rem auto 0 auto;
}
